.head {
  position: relative;
  width: 750px;
  margin: auto;
}

h1 {
  position: absolute;
  top: 220px;
  left: 0;
  font-size: 72px;
  font-weight: normal;
}

h2 {
  position: absolute;
  top: 200px;
  left: 0;
  font-size: 40px;
  font-weight: normal;
}

.container {
  position: relative;
  top: 450px;
  width: 750px;
  margin: auto;
}

#AnakinPic {
  width: 1280px;
  position: absolute;
  left: -265px;
  margin: 0;
}

.imp {
  font-size: 20px;
}

h1, h2, blockquote {
  color: black;
  font-family: 'Abril Fatface', cursive;
}

blockquote {
  position: relative;
  left: -80px;
  width: 750px;
  background: #444444;
  padding: 40px;
  color: white;
  font-size: 48px;
}

blockquote::before {
  content: '“';
  position: absolute;
  top: -36px;
  left: 0;
  color: white;
  font-size: 144px;
}

h3, h4, p, ul, li {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

p, ul, li {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -1px;
}

ul {
  list-style-type: square;
}

h3 {
  margin: 60px 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

h4 {
  margin: 40px 0 0 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
}

h5 {
  margin: 4px 0 0 0;
  color: black;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 15px;
}

hr {
  margin: 50px 0;
  height: 2px;
  background: black;
}